.container-main {
  position: relative;
  width: 900px;
  
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.seta:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.seta.esquerda {
  left: 0;
}

.seta.direita {
  right: 0;
}
